﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CasaDespaDraft.ViewModels
@model SignUpViewModel


<section id="register">
    <form asp-action="Register" asp-controller="Account" enctype="multipart/form-data">
        <div id="registerform">
            <div id="registertitle">
                <h2 id="registerheading"> REGISTER </h2>
            </div>
            <div id="formcontent">
                <div id="column1formcontent">

                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["SuccessMessage"]
                        </div>
                    }

                    <table>


                        <tr>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <td id="regtd"><h4 id="firstname">FIRST NAME:    </h4></td>
                            <td id="regtdinput">
                                <input asp-for="firstName" id="firstnameinput" placeholder="">
                            </td>
                            @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                        </tr>

                        <tr>
                            <td id="regtd"><h4 id="lastname">LAST NAME:    </h4></td>
                            <td id="regtdinput">
                                <input asp-for="lastName" id="lastnameinput" placeholder="">
                            </td>
                            @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                        </tr>

                        <tr>
                            <td id="addresstd"><h4 id="address">ADDRESS:    </h4></td>
                            <td id="addresstddinput">
                                <input asp-for="address" id="addressinput" placeholder="">
                            </td>
                            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                        </tr>

                        <tr>
                            @Html.ValidationMessageFor(model => model.sex, "", new { @class = "text-danger" })
                        </tr>

                        <tr>
                            <td id="regtd"><h4 id="gender">Sex:</h4></td>
                            <td id="regtdinput">
                                <input asp-for="sex" type="radio" id="male" name="sex" value="Male">
                                <label for="male"><h6>MALE</h6></label>
                                <input asp-for="sex" type="radio" id="female" name="sex" value="Female">
                                <label for="female"><h6>FEMALE</h6></label>
                            </td>
                        </tr>
                        </tr>

                        <tr>
                            <td id="regtd"><h4 id="profilepic">UPLOAD PICTURE:</h4></td>
                            <td id="picturetddinput">
                                <input asp-for="profilePicture" type="file" id="file" accept=".png,.jpg,.jpeg" placeholder="">

                                @Html.ValidationMessageFor(model => model.profilePicture, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                    </table>
                </div>

                <div id="column2formcontent">
                    <div id="securityquestionsdiv">

                        <h4 id="securityquestion">SECURITY QUESTION: </h4>
                        <input asp-for="question" id="securityquestioninput" placeholder="Provide Security Question">
                        @Html.ValidationMessageFor(model => model.question, "", new { @class = "text-danger" })

                        <input asp-for="answer" id="securityanswerinput" placeholder="Provide Answer">
                        @Html.ValidationMessageFor(model => model.answer, "", new { @class = "text-danger" })

                    </div>

                    <table id="tabledivemailpass">

                        <tr>
                            <td id="emailtd"><h4 id="email">EMAIL:    </h4></td>
                            <td id="emailregtdinput">
                                <input asp-for="email" id="emailinput" placeholder="">
                        </tr>

                        <tr>
                            <td id="passwordtd"><h4 id="registerpassword">PASSWORD:    </h4></td>
                            <td id="passregtdinput">
                                <input asp-for="userPassword" id="registerpasswordinput" placeholder="" />
                                <input type="hidden" asp-for="fanswer" />
                            </td>
                            @Html.ValidationMessageFor(model => model.userPassword, "", new { @class = "text-danger" })
                        </tr>

                        <tr>
                            <td id="passwordtd"><h4 id="registerpassword">CONFIRM PASSWORD:    </h4></td>
                            <td id="passregtdinput">
                                <input asp-for="ConfirmPassword" id="registerpasswordinput" placeholder="" />
                            </td>
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </tr>
                    </table>
                </div>
            </div>

            <div id="registerbuttonscontainer">
                <input type="button" id="cancelbutton" value="CANCEL" onclick="location.href='/Account/Login'" class="getstarted" />
                <input type="button" id="registerbutton" value="REGISTER" />
            </div>
        </div>



        <div id="myModal" class="modal">


            <div id="popup">

                <div id="popuptitle">
                    <h2 id="policyheading"> PRIVACY POLICIES </h2>
                </div>
                <div id="policycontent">
                    <h4 id="ppcontent">
                        At Casa Despa, we prioritize data security of your data; by confirming our privacy policy, we secure your data through solid security measures. We don't sell your personal data to third parties or anyone.
                    </h4>
                    <h4 id="ppcontent">
                        We collect only the essential information required for your reservation and stay at Casa Despa. This may include personal details such as your name, contact information, and payment details. We use this information solely to facilitate your booking, ensure a seamless check-in process, and enhance your overall experience with us. We employ tough security measures to protect your data from unauthorized access, disclosure, alteration, and destruction. Our systems are regularly updated and undergo thorough security assessments to maintain the highest data protection standards.
                    </h4>
                </div>
                <div>
                    <input type="button" id="declinebutton" class="declined" value="DECLINED">
                    <input type="submit" id="acceptbutton" value="ACCEPT">
                </div>
            </div>

        </div>

    </form>
</section>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("registerbutton");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("declined")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    $(document).ready(function () {
        $("#Register").on("submit", function (event) {
            var fileInput = $("#file");
            var fileName = fileInput.val();
            var fileExtension = fileName.split(".").pop().toLowerCase();

            if ($.inArray(fileExtension, ["png", "jpg", "jpeg"]) === -1) {
                alert("Only PNG, JPG, and JPEG files are allowed.");
                event.preventDefault();
            }
        });
    });

    $(document).ready(function () {
        $('#file').on('change', function () {
            var fileSize = this.files[0].size; // in bytes
            if (fileSize > 2048576) { // 2MB in bytes
                alert('File size exceeds 2MB. Please select a smaller file.');
                this.value = ''; // clear the file input field
            }
        });
    });

</script>
