@{
    ViewData["Title"] = "Reset Password";
}

@using CasaDespaDraft.ViewModels
@using CasaDespaDraft.Data;
@model SignUpViewModel

<!-- Reset Password Section -->
<section id="rp">
    <div id="backbuttondiv">
        <button id="fpbackbutton"> <a id="fpabackbutton" asp-area="" asp-controller="Account" asp-action="ForgotPassword" class="getstarted"> <i class="material-icons">chevron_left</i> </a> </button>
    </div>
    <form asp-action="ResetPassword" asp-controller="Account">
        <div id="rpform">
            <div id="rptitle">
                <div id="rptitle1">
                    <h2 id="rpheading"> RESET PASSWORD </h2>
                </div>
            </div>
            <div id="rpformcontent">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["SuccessMessage"]
                    </div>
                }
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div id="rpinputfields">
                    <span class="glyphicon glyphicon-lock" id="lockglyph"></span>
                    <input asp-for="email" type="hidden" value="@Model.email" />
                    <input asp-for="firstName" type="hidden" value="@Model.firstName" />
                    <input asp-for="lastName" type="hidden" value="@Model.lastName" />
                    <input asp-for="address" type="hidden" value="@Model.address" />
                    <input asp-for="sex" type="hidden" value="@Model.sex" />
                    <input asp-for="question" type="hidden" value="@Model.question" />
                    <input asp-for="answer" type="hidden" value="@Model.answer" />
                    <input asp-for="fanswer" type="hidden" value="@Model.fanswer" />

                    <input asp-for="userPassword" type="password" id="rpanswerinput" placeholder="Enter new password" />
                    @Html.ValidationMessageFor(model => model.userPassword, "", new { @class = "text-danger"})
                </div>
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger"})
                <div id="rpinputfields1">
                    <i class="glyphicon glyphicon-ok-sign" id="okglyph"></i>
                    <input asp-for="ConfirmPassword" type="password" id="rpanswerinput" placeholder="Confirm new password">

                </div>
            </div>
            <div id="rpbuttonscontainer">
                <button type="submit" id="rpnextbutton"><a id="rpnext"> NEXT </a> </button>
            </div>
        </div>
    </form>
</section>