@using CasaDespaDraft.ViewModels
@using CasaDespaDraft.Data
@using Microsoft.AspNetCore.Identity

@model IEnumerable<AdminNotification>

@{
    ViewData["Title"] = "Notifications";
}

<!-- Notification Section -->
<section id="ac">
    <div id="backbuttondiv">
        <button id="fpbackbutton"> <a id="fpabackbutton" asp-area="" asp-controller="Home" asp-action="Home" class="getstarted"> <i class="material-icons">chevron_left</i> </a> </button>
    </div>
    <div id="acform">
        <div id="actitle">
            <div id="actitle1">
                <h2 id="sqheading"> NOTIFICATIONS </h2>
            </div>
            <div>
            </div>
        </div>

        <div id="Notifcontainer">
            @foreach (var notification in Model.OrderByDescending(n => n.SentDate))
            {
                @if (notification.IsRead)
                {
                    <div id="Notifcontainer2">
                        <h5 id="ppcontenth5">@notification.Subject</h5>
                        <p id="ppcontent">@notification.Message</p>
                        <p id="ppcontent">@notification.SentDate.ToShortDateString()</p>
                    </div>
                }
                else
                {
                    <div id="Notifcontainer2" class="new-notification" >
                        <h5 id="ppcontenth5">@notification.Subject</h5>
                        <p id="ppcontent">@notification.Message</p>
                        <p id="ppcontent">@notification.SentDate.ToShortDateString()</p>
                    </div>
                }
            }
        </div>
    </div>
</section>

<style>
    #Notifcontainer2.new-notification {
        background-color: #fce6ac;
        color: #452500;
        font-weight: bold;
    }
</style>