<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@{
    ViewData["Title"] = "Edit FAQs Page";
}

@model IEnumerable<FAQs>

<section id="FAQS_Edit">
    <center>
        <div id="FAQSEdit_form">
            <div id="FAQSEdit_title">
                <h2 id="FAQSEdit_heading"> EDIT FREQUENTLY ASKED QUESTIONS </h2>
            </div>
            <div id="FAQSEdit_content">
                <div id="FAQSEdit_Container_Add">
                    <input type="button" onclick="@("window.location.href='" + @Url.Action("FAQsADD_Page", "Home") + "'");" id="FAQSEdit_Add" value="+ ADD">
                </div>
                <center>
                    <table id="FAQSEdit_Table">
                        <tr>
                            <td id="FAQSEdit_Table_Title">FAQS</td>
                            <td id="FAQSEdit_Table_Title">ANSWERS</td>
                            <td id="FAQSEdit_Table_Title"> </td>
                        </tr>
                        
                            @foreach (var FAQs in Model)
                            {
                            <tr>
                                <td id="FAQSEdit_Table_Text">@FAQs.FAQuestion</td>
                                <td id="FAQSEdit_Table_Text">@FAQs.FAQAnswer</td>
                                <td id="FAQSEdit_Table_Icon">
                                    <a asp-action="FAQsEDIT_Page" asp-controller="Home" asp-route-Id="@FAQs.faqsId" id="FAQSEdit_Icon"><i class="fa fa-pencil"></i></a>

                                    <form method="delete" asp-action="FAQsEdit_Delete" asp-controller="Home">
                                    <button type="submit" id="FAQSEdit_Icon" data-id="@FAQs.faqsId">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                    </form>

                                </td>
                            </tr>
                            }
                        

                    </table>
                    <div id="FAQSEdit_Container_Title">
                        <center>
                            <input type="button" onclick="@("window.location.href='" + @Url.Action("FAQs", "Home") + "'");" id="FAQSEdit_Cancel" value="Go Back" />
                            
                        </center>
                    </div>
                </center>
            </div>
        </div>
    </center>

</section>

<script>
    $(document).ready(function () {
        $('button[type="submit"]').click(function (e) {
            e.preventDefault();

            var row = $(this).closest('tr');
            var id = $(this).data('id');

            // Send a DELETE request to the server to delete the row
            $.ajax({
                url: '/Home/FAQsEDIT_Delete/' + id,
                type: 'DELETE',
                success: function () {
                    // Remove the row from the table
                    row.remove();
                },
                error: function () {
                    // Handle errors
                }
            });
        });
    });
</script>