@{
    ViewData["Title"] = "Home Page";
}

@using System.Security.Claims;
@model IEnumerable<Homepage>

<!-- Welcome Section -->
<section id="welcome">
    <div id="welcomecontainer">
        <div id="welcomediv1">
            <h1 id="welcometext">WELCOME TO CASA DESPA</h1>
            <h3 id="welcomesubtext">A PLACE FOR YOU AND YOUR FAMILY TO <br /> REST AND RELAX</h3>
            @foreach (var homepage in Model)
            {
            @if (User.IsInRole("Admin"))
            {
                    //<button type="button" id="edithomebutton"><a asp-action="IndexEdit" id="edithomebutton" asp-area="" asp-controller="Home" asp-route-Id="@homepage.Id">EDIT</a></button>
                    <input type="button" id="edithomebutton" value="EDIT" onclick="location.href='@Url.Action("IndexEdit", "Home", new { area = "", id = homepage.Id })'" />
            }
            }
        </div>
        <div id="welcomediv2">
            <img id="blkbiglogo" src="~/img/logo/blklogo.png" alt="casadespa">
        </div>
    </div>
</section>
<!-- End Welcome Section -->
<!-- Button Menu Section -->
<section id="menu">
    <div id="buttonmenucontainer">
        <div id="btndiv">
            @*<button id="remindersbtn" type="button" href="#importantreminders"><a href="#importantreminders" id="aimportantreminders"> IMPORTANT REMINDERS </a></button>
             <button id="ratesbtn" type="button" href="#rates"><a href="#rates" id="arates">RATES</a></button>
            <button id="otherbtn" type="button" href="#amenities"><a href="#amenities" id="aamenities">AMENITIES AND OTHER RULES</a></button> *@

            <input type="button" id="remindersbtn" value="IMPORTANT REMINDERS" onclick="scrollToDiv('importantreminders')" />
            <input type="button" id="ratesbtn" value="RATES" onclick="scrollToDiv('rates')" />
            <input type="button" id="otherbtn" value="AMENITIES AND OTHER RULES" onclick="scrollToDiv('amenities')" />

            <script>
                function scrollToDiv(divId) {
                    var div = document.getElementById(divId);
                    if (div) {
                        div.scrollIntoView();
                    }
                }
            </script>

            <script>
                function scrollToDiv(divId) {
                    var div = document.getElementById(divId);
                    if (div) {
                        div.scrollIntoView();
                    }
                }
            </script>

            @* <input type="button" id="remindersbtn" value="IMPORTANT REMINDERS" onclick="location.href='@Url.Action("#importantreminders")'" />
            <input type="button" id="ratesbtn" value="RATES" onclick="location.href='@Url.Action("Index", "Home", new { area = "", id = "rates" })'" />
            <input type="button" id="otherbtn" value="AMENITIES AND OTHER RULES" onclick="location.href='@Url.Action("Index", "Home", new { area = "", id = "amenities" })'" /> *@
        </div>
    </div>
</section>

<!-- Rates Section -->
<section id="rates">
    @foreach (var homepage in Model)
    {
    <div id="ratesdiv">
        <div id="ratestitle">
            <h2>RATES</h2>
        </div>
        <div id="divratestable">
            <table id="ratestable">
                <tr>
                    <th>  </th>
                    <th><h3>WEEKDAYS</h3></th>
                    <th><h3>WEEKENDS</h3></th>
                </tr>
                <tr>
                    <td>
                        <h3>22 Hours</h3>
                        <h6>CHECK-IN: 2:00 PM</h6>
                        <h6>CHECK-OUT: 12:00 NN</h6>
                    </td>
                    <td><h2>@homepage.wd22hrs</h2></td>
                        <td><h2>@homepage.we22hrs</h2></td>
                </tr>
                <tr>
                    <td>
                        <h3>DAY TOUR</h3>
                        <h6>CHECK-IN: 8:00 AM</h6>
                        <h6>CHECK-OUT: 4:00 PM</h6>
                    </td>
                        <td><h2>@homepage.wdMornhrs</h2></td>
                        <td><h2>@homepage.weMornhrs</h2></td>
                </tr>
                <tr>
                    <td>
                        <h3>OVERNIGHT</h3>
                        <h6>CHECK-IN: 6:00 PM</h6>
                        <h6>CHECK-OUT: 6:00 AM</h6>
                    </td>
                        <td><h2>@homepage.wdNythrs</h2></td>
                        <td><h2>@homepage.wdNythrs</h2></td>
                </tr>
            </table>
        </div>
    </div>
    }
</section>

<!-- Divider Section -->
<section id="divider">
    <div id="dividercontainer">
    </div>
</section>

<!-- Amenities Section -->
<section id="amenities">

    <div id="amenitiesdiv">
        <div id="amenitiestitle">
            <h2>AMENITIES & OTHER RULES</h2>
        </div>
        <div id="amenitiescontent">
            <div id="columns">
                <div id="column1">
                    <div id="additionalfees">
                        <div id="additionalfeestitle">
                            <h3 id="feetitle">ADDITIONAL FEES</h3>
                        </div>
                        @foreach (var homepage in Model)
                        {
                        <div id="aftablecontent">
                            <table id="aftable">
                                <tr id="aftr">
                                        <th id="afprice"> <h3 id="h3af">@homepage.af1</h3>  </th>
                                    <td id="af"> Additional Head in Excess of 15 pax </td>
                                </tr>
                                <tr id="aftr">
                                        <th id="afprice"> <h3 id="h3af">@homepage.af2</h3> </th>
                                    <td id="af"> Additional For Each Pet </td>
                                </tr>
                                <tr id="aftr">
                                        <th id="afprice"><h3 id="h3af">@homepage.af3</h3></th>
                                    <td id="af"> Extra Mattress (Single w/ Pillow) </td>
                                </tr>
                                <tr id="aftr">
                                        <th id="afprice"><h3 id="h3af">@homepage.af4</h3></th>
                                    <td id="af"> Extra Blanket </td>
                                </tr>
                                <tr id="aftr">
                                        <th id="afprice"><h3 id="h3af">@homepage.af5</h3></th>
                                    <td id="af"> Gas Stove </td>
                                </tr>
                            </table>
                        </div>
                        }
                    </div>

                    <div id="securitydeposit">

                        <div id="securitydeposittitle">
                            <h3 id="feetitle">SECURITY DEPOSIT</h3>
                        </div>
                        <div id="sdcontent">
                            @foreach (var homepage in Model)
                            {
                            <th><h3 id="h3sd">@homepage.sd1</h3>  </th>
                            }
                            <p id="sdd">A Security Deposit is Required Upon Arrival For Incidentals. This Deposit is Fully Refundable Upon Check-Out and Subject to A Damage Inspection Of The Resort.</p>
                        </div>
                    </div>
                </div>

                <div id="column2">
                    <div id="corkage">
                        <div id="corkagetitle">
                            <h3 id="feetitle">CORKAGE</h3>
                        </div>
                        @foreach (var homepage in Model)
                        {
                        <div id="corkagetablecontent">
                            <table id="corkagetable">
                                <tr id="corkagetr">
                                        <th id="corkageprice"> <h3 id="h3c">@homepage.c1</h3>  </th>
                                    <td id="corkagep"> Lights and Sound System </td>
                                </tr>
                                <tr id="aftr">
                                        <th id="corkageprice"> <h3 id="h3c">@homepage.c2</h3> </th>
                                    <td id="corkagep"> Catering Services </td>
                                </tr>
                            </table>
                        </div>
                        }
                    </div>

                    <div id="othercharges">
                        <div id="otherchargestitle">
                            <h3 id="feetitle">OTHER CHARGES</h3>
                        </div>
                        <div id="ocontent">
                            @foreach (var homepage in Model)
                            {
                                <h3 id="h3o">@homepage.oc1</h3>
                            <p id="oc">Laundry Fee For Hard/Stubborn Stains on Sheets/Mattresses</p>
                            <p id="oc"><b>Note:</b> *MARKET VALUE PRICE* <br /> for Damaged/Missing Items</p>
                            }
                        </div>
                    </div>
                </div>

                <div id="column3">
                    <div id="amenitieslist">
                        <div id="amenitieslisttitle">
                            <h3 id="feetitle">AMENITIES</h3>
                        </div>
                        <div id="amenitiestablecontent">
                            <table id="amenitiestable">
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/pool.png" alt="pool"> </th>
                                    <td id="aname"> Adult Swimming Pool With Kiddie Pool </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/bed.png" alt="pool"> </th>
                                    <td id="aname"> 2 Airconditioned Bedrooms </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/bath.png" alt="pool"> </th>
                                    <td id="aname"> 2 Toilet & Bath and 1 Outdoor Shower <br /> and Toilet </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/dining.png" alt="pool"> </th>
                                    <td id="aname"> Airconditioned Dining/ Karaoke Room </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/tv.png" alt="pool"> </th>
                                    <td id="aname"> Smart Tv with Netflix </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/kitchen.png" alt="pool"> </th>
                                    <td id="aname"> Fully Equipped Kitchen </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/grill.png" alt="pool"> </th>
                                    <td id="aname"> BBQ Griller </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/park.png" alt="pool"> </th>
                                    <td id="aname"> Big Parking Space </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/mic.png" alt="pool"> </th>
                                    <td id="aname"> Free use of Karaoke </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/wifi.png" alt="pool"> </th>
                                    <td id="aname"> Free Unlimited Wifi </td>
                                </tr>
                                <tr id="amenitiestr">
                                    <th id="alogo"> <img id="vector" src="~/img/gazebo.png" alt="pool"> </th>
                                    <td id="aname"> Gazebo For Private Events </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Divider Section -->
<section id="divider">
    <div id="dividercontainer">
    </div>
</section>

<!-- Important Reminders Section -->
<section id="importantreminders">
    <div id="remindersdiv">
        <div id="reminderstitle">
            <h2>IMPORTANT REMINDERS</h2>
        </div>
        <div id="reminderscontent">
            @foreach (var homepage in Model)
            {
            <div id="columns">
                <div id="column1">
                    <div id="checkin">
                        <div id="checkintitle">
                            <h3 id="cititle">CHECK-IN</h3>
                        </div>
                        <div id="checkincontent">
                                <h6 id="pcontent"> @homepage.cIN </h6>
                        </div>
                    </div>

                    <div id="checkout">
                        <div id="checkouttitle">
                            <h3 id="cotitle">CHECK-OUT</h3>
                        </div>
                        <div id="checkoutcontent">
                                <h6 id="pcontent"> @homepage.cOUT </h6>
                        </div>
                    </div>

                    <div id="payment">
                        <div id="paymenttitle">
                            <h3 id="ptitle">PAYMENT</h3>
                        </div>
                        <div id="paymentcontent">
                            <h6 id="pcontent">
                                    @homepage.payment
                            </h6>
                        </div>
                    </div>
                </div>
                <div id="column2">
                    <div id="maximumcapacity">
                        <div id="maximumcapacitytitle">
                            <h3 id="mctitle">MAXIMUM CAPACITY</h3>
                        </div>
                        <div id="maximumcapacitycontent">
                            <h5 id="ptitle"> REGULAR ACCOMODATION </h5>

                            <ul id="listmc">
                                    @homepage.mc1
                                
                            </ul>

                            <h5 id="ptitle"> ACCOMODATION with PARTY/EVENTS </h5>

                            <ul id="listmc">
                                    @homepage.mc2
                            </ul>
                        </div>
                    </div>

                    <div id="cleanliness">
                        <div id="cleanlinesstitle">
                            <h3 id="cleanlinesstitle">CLEANLINESS</h3>
                        </div>
                        <div id="cleanlinesscontent">
                                <h6 id="pcontent"> @homepage.clean</h6>
                        </div>
                    </div>

                </div>
                <div id="column3">
                    <div id="sleepingcapacity">
                        <div id="sleepingcapacitytitle">
                            <h3 id="sctitle">SLEEPING CAPACITY</h3>
                        </div>
                        <div id="sleepingcapacitycontent">
                            <h6 id="pcontent">
                                    @homepage.sc1
                            </h6>
                        </div>
                    </div>

                    <div id="noise">
                        <div id="noisetitle">
                            <h3 id="ntitle">NOISE</h3>
                        </div>
                        <div id="noisecontent">
                            <h6 id="pcontent">
                                    @homepage.noise
                            </h6>
                        </div>
                    </div>

                    <div id="smoking">
                        <div id="nosmokingcontent">
                            <h6 id="pcontent"> STRICTLY NO SMOKING INSIDE THE HOUSE! </h6>
                                <h6 id="pcontent"> PENALTY: @homepage.penalty </h6>
                        </div>
                    </div>

                    <div id="warning">
                        <div id="warningtitle">
                            <h3 id="wtitle">WARNING</h3>
                        </div>
                        <div id="warningcontent">
                                <h6 id="pcontent"> @homepage.warning </h6>
                        </div>
                    </div>

                </div>
            </div>
            }
        </div>
    </div>
</section>}