@{
    ViewData["Title"] = "Profile Page";
}
@using Microsoft.AspNetCore.Identity;
@using CasaDespaDraft.Data;
@using CasaDespaDraft.ViewModels
@inject UserManager<User> _userManager;
@model AccountViewModel

<!-- Welcome Section -->
<section id="welcome">
    <div id="welcomecontainer">
        <div id="welcomediv1">
            <h1 id="welcometext">PROFILE PAGE</h1>
        </div>
        <div id="welcomediv2">
            <img id="blkbiglogo" src="~/img/logo/blklogo.png" alt="casadespa">
        </div>
    </div>
</section>

<!-- End Welcome Section -->


<!-- Profile Page -->
<style>
    body {
        margin: 0;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #F3D6B2;
    }
</style>

<body>
    <div class="main-container">
        <div class="left-container">
            <div class="profile-section">
                <div class="profile-picture">

                    <img src="@(_userManager.GetUserAsync(User).Result.ProfilePicture != null ?
											$"data:image;base64,{Convert.ToBase64String(_userManager.GetUserAsync(User).Result.ProfilePicture)}" :
											"https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png")"  alt="Profile Picture">
                </div>
                <div class="info-section">
                    <p class="info-item"><strong>NAME</strong></p>
                    <p class="info-item1">@_userManager.GetUserAsync(User).Result.Firstname @_userManager.GetUserAsync(User).Result.Lastname</p>

                    <p class="info-item"><strong>EMAIL</strong></p>
                    <p class="info-item1">@_userManager.GetUserAsync(User).Result.Email</p>

                    <p class="info-item"><strong>ADDRESS</strong></p>
                    <p class="info-item1">@_userManager.GetUserAsync(User).Result.Address</p>
                </div>
                <a href="#" class="update-button">UPDATE INFO</a>
            </div>
        </div>

        <div class="right-container">
            <div class="tabs">
                <button class="tablinks" onclick="openTab(event, 'BRequests')">Booking Requests</button>
                <button class="tablinks" onclick="openTab(event, 'PBookings')">Pending Bookings</button>
                <button class="tablinks" onclick="openTab(event, 'ABookings')">Approved Bookings</button>
                <button class="tablinks" onclick="openTab(event, 'Archived')">Archived Bookings</button>
            </div>

            <div id="BRequests" class="tabcontent">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <td><div class="table-container2">FULL NAME:</div></td>
                                <th><div class="table-container2">NUMBER<br>OF PAX:</br></div></th>
                                <th><div class="table-container2">DATE</div></th>
                                <th><div class="table-container2">PACKAGE</div></th>
                                <th><div class="table-container2">STATUS</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var booking in Model.Bookings)
                            {
                                <tr>
                                    <td><div class="table-container1">@booking.fullName</div></td>
                                    <td>@booking.pax</td>
                                    <td>@booking.date</td>
                                    <td>@booking.package</td>
                                    <td>@booking.BStatus</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>

            <div id="PBookings" class="tabcontent">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <td><div class="table-container2">FULL NAME:</div></td>
                                <th><div class="table-container2">NUMBER<br>OF PAX:</br></div></th>
                                <th><div class="table-container2">DATE</div></th>
                                <th><div class="table-container2">PACKAGE</div></th>
                                <th><div class="table-container2">PAYMENT</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var booking in Model.Requested)
                            {
                                <tr>
                                    <td>@booking.fullName</td>
                                    <td>@booking.contactNumber</td>
                                    <td>@booking.pax</td>
                                    <td>@booking.date</td>
                                    <td>@booking.package</td>
                                    <td><a class="nav-button" asp-area="" asp-controller="Home" asp-action="Receipt">SUBMIT PAYMENT</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="ABookings" class="tabcontent">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <td><div class="table-container2">FULL NAME:</div></td>
                                <th><div class="table-container2">CONTACT NUMBER:</br></div></th>
                                <th><div class="table-container2">NUMBER<BR>OF PAX:</div></th>
                                <th><div class="table-container2">DATE</div></th>
                                <th><div class="table-container2">PACKAGE</div></th>
                                <th><div class="table-container2">CANCEL</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var booking in Model.Accepted)
                            {
                                <tr>
                                    <td>@booking.fullName</td>
                                    <td>@booking.contactNumber</td>
                                    <td>@booking.pax</td>
                                    <td>@booking.date</td>
                                    <td>@booking.package</td>
                                    <td><a class="nav-button" asp-action="DashboardArchive" asp-route-id="@booking.bookingId">DONE</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="Archived" class="tabcontent">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <td>FULL NAME:</td>
                                <th>CONTACT NUMBER:<br /></th>
                                <th>NUMBER<BR>OF PAX:</th>
                                <th>DATE</th>
                                <th>PACKAGE</th>
                                <th>STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var booking in Model.Archive)
                            {
                                <tr>
                                    <td>@booking.fullName</td>
                                    <td>@booking.contactNumber</td>
                                    <td>@booking.pax</td>
                                    <td>@booking.date</td>
                                    <td>@booking.package</td>
                                    <td>@booking.BStatus</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>


<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Call openTab function with 'Home' tab name as an argument when the page loads
    window.onload = function () {
        openTab(null, 'BRequests');
    };
</script>