@{
    ViewData["Title"] = "Add QR";
}
@model Booking;


<!-- AddQr Section -->
<section id="addqrsection">
    <div id="backbuttondiv">
        <input type="button" id="fpbackbutton" value="BACK" onclick="location.href='/Home/'" class="getstarted" />
    </div>

            <form asp-action="AddQr" asp-controller="Admin" method="post" enctype="multipart/form-data"> 
        <div id="addqrform">

            <div id="addqrtitle">
                <div id="addqrtitle1">
                    <h2 id="receiptheading"> ADD QR AND PRICE </h2>
                </div>
            </div>

            <div id="addqrformcontent">
                <div id="addqrinputfields">
                    <table>
                        <tr>
                            <td><h3 id="prooftitle">Add QR Code: </h3></td>
                            <td>
                                <input type="hidden" asp-for="bookingId" value="@Model.bookingId"/>
                                <input type="hidden" asp-for="userId" value="@Model.userId" />
                                <input type="hidden" asp-for="fullName" value="@Model.fullName" />
                                <input type="hidden" asp-for="contactNumber" value="@Model.contactNumber" />
                                <input type="hidden" asp-for="messengerLink" value="@Model.messengerLink" />
                                <input type="hidden" asp-for="package" value="@Model.package" />
                                <input type="hidden" asp-for="pax" value="@Model.pax" />
                                <input type="hidden" asp-for="date" value="@Model.date" />
                                <input type="hidden" asp-for="BStatus" value="@Model.BStatus" />

                            <input type="file" asp-for="QRCode" id="file" accept=".png,.jpg,.jpeg" aria-label="File browser example" required>
                            @Html.ValidationMessageFor(model => model.QRCode, "", new { @class = "text-danger"})
                        </td>
                        </tr>
                    </table>

                    <table>
                        <tr id="addqrtr">
                            <td id="tdrname">Sample File Name</td>
                            <td id="addqrtd">

                                <button type="submit" id="ReceiptIcon" data-id="">
                                    <i class="fa fa-trash-o"></i>
                                </button>

                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td><h3 id="referencetitle">Amount to Pay: @Model.bookingId</h3></td>
                            <td><input type="number" id="refanswerinput" asp-for="Amount" required placeholder="Please Provide The Amount."></td>
                            
                            <br>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="receiptbuttonscontainer">
                <td><a id="canceladdqrbutton" asp-action="CancelQR" asp-controller="Admin">CANCEL</a></td>
                <td><button type="submit" id="submitaddqrbutton" >SUBMIT</button></td>

@*                 <td><a id="canceladdqrbutton" asp-action="CancelQR" asp-route-id="@Model.userId">CANCEL</a></td>
                <td><a id="submitaddqrbutton" asp-action="SubmitQR" asp-route-id="@Model.userId">SUBMIT</a></td> *@
            </div>
        </div>
        </form>


</section>