@{
    ViewData["Title"] = "Booking Page";
}

@model Booking;

<link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.js"></script>

<style>
    #booking {
        min-height: 50vh !important;
        display: flex !important;
        flex-wrap: wrap;
        background-color: #c4a585;
        justify-content: space-around;
        padding: 15px;
    }

    .bookcontainer {
        background-color: #f1d9b6;
        min-height: 50vh !important;
        margin: .5rem;
        width: 48% !important;
        min-width: 350px;
        padding: 20px;
    }


    #bookform {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #bookform {
        display: flex;
        justify-content: normal;
        padding: 25px;
    }

    #booking h1 {
        background-color: black;
        color: #f1d9b6;
        text-align: center;
        padding: 1rem;
        margin: 1rem;
        border-radius: 25px;
    }

    #booking .packagecontainer {
        display: flex;
        flex-direction: column;
        width: 70%;
        justify-content: space-around;
        padding: 0px;
        border-radius: 12%;
    }

        #booking .packagecontainer input {
            width: 99%;
            margin: auto;
            text-align: center;
            border-top: none;
            border-right: none;
            border-left: none;
            border-radius: unset;
        }

            #booking .packagecontainer input:focus {
                border: none;
            }

            #booking .packagecontainer input:last-child {
                border-bottom: none;
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
                padding: 4px;
                margin-bottom: 2px;
            }

    #booking #bookform form div label {
        width: 70%;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 900;
        color: black;
    }


    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        background-color: #f1d9b6;
        height: auto;
    }

    #calendar {
        min-width: 350px;
        text-align: center;
    }

        #calendar * {
            border: none;
            margin: auto;
        }

    .fc-day, .fc-day-number {
        border-color: transparent;
    }

        .fc-day.clicked-day {
            background-color: #ffbdbd !important;
            border-color: #ffbdbd;
        }



    .fc-left {
        background-color: transparent;
        color: #fff;
    }

    .fc-right {
        background-color: transparent;
        color: #fff;
    }

    #legendcontainer {
        display: flex;
        flex-direction: column;
    }

    #legends {
        margin: auto;
        text-align: justify;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

        #legends h2::before {
            content: "";
            display: inline-block;
            width: 50px; /* Adjust the size of the circle */
            height: 50px; /* Adjust the size of the circle */
            border-radius: 50%;
            margin-right: 8px;
        }

        #legends h2:nth-child(1)::before {
            background-color: #243719; /* Change the color for the first h2 */
        }

        #legends h2:nth-child(2)::before {
            background-color: #6b2c0e; /* Change the color for the second h2 */
        }

        #legends h2:nth-child(3)::before {
            background-color: #c3ab7d; /* Change the color for the third h2 */
        }

    #packages {
        appearance: none;
        background-color: transparent;
        border: none;
        padding: 0 1em 0 0;
        margin: 0;
        width: 147%;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;
        padding: 20px;
        height: auto;
        background-color: initial;
        color: black;
        font-size: 18px;
        border: 1px solid black;
        border-radius: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
    }


    /*Modal CSS*/
    #myModalT {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 105%;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 15px;
        box-shadow: 0 0 3px black;
    }

    #tpopup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 80%;
        background-color: #fff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
    }

    #tpopuptitle {
        text-align: center;
        margin-bottom: 30px;
    }

    #tpolicycontent {
        text-align: center;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

        #tpolicycontent h4 {
            line-height: 1.5;
            flex: 1;
        }

    #tppcontent {
        color: #333;
        max-height: 380px;
        max-width: 100%;
        overflow-y: scroll;
        width: 100%;
        text-align: left;
        padding-left: 85px;
        padding-right: 85px;
        padding-bottom: 85px;
        /* Style the scrollbar track */
        :: -webkit-scrollbar-track

    {
        background-color: #f5f5f5;
        border-radius: 10px;
    }
    /* Style the scrollbar thumb */
    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 10px;
    }
        /* Style the scrollbar thumb on hover */
        ::-webkit-scrollbar-thumb:hover {
            background-color: #aaa;
        }
    /* Style the scrollbar Corner */
    ::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    }



    #headingtc {
        font-size: 12px;
    }

    #buttondivmodal {
        width: 100%;
        margin-top: 30px;
    }

    #bookingtable {
        width: 100%;
    }

    #booklabeltd {
        width: 50%;
        font-size: 25px;
    }

    #bookrow {
        margin-top: 10px;
    }

    #btndivtt {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }

    #booktablediv {
        margin-top: 20px;
    }

    #BookButton {
        width: 436px;
        height: 64px;
        padding: 10px;
        color: #F0D9B7;
        border-radius: 20px;
        background-color: black;
        font-size: 30px;
        padding: 6px;
    }

    #inputtextfieldbr {
        background-color: transparent;
        border-radius: 25px;
        padding: 5px;
        width: 100%;
        height: 70px;
        border: 1px solid black;
        font-size: 25px;
        min-height: 38px;
    }

    .inputtextfieldbr {
        background-color: transparent;
        border-radius: 25px;
        padding: 5px;
        width: 100%;
        height: 70px;
        border: 1px solid black;
        font-size: 25px;
        min-height: 38px;
    }

    #selectedDate {
        background-color: transparent;
        border-radius: 25px;
        padding: 5px;
        width: 100%;
        height: 70px;
        border: 1px solid black;
        font-size: 25px;
        min-height: 38px;
    }

    #tdeclinebutton {
        padding: 10px;
        width: 130px;
        color: black;
        border-radius: 20px;
        background-color: #F5D8B3;
    }

    #tacceptbutton {
        padding: 10px;
        width: 130px;
        color: #F0D9B7;
        border-radius: 20px;
        background-color: black;
    }

    #notediv {
        padding: 20px;
        background-color: #F9F4D6;
        border-radius: 10px;
        margin-top: 20px;
        box-shadow: 0 0 5px gray;
        border: 1px solid #967940;
        color: #967940;
    }

    #notett {
        margin-left: 10px;
    }
</style>

<!-- Welcome Section -->
<section id="welcome">
    <div id="welcomecontainer">
        <div id="welcomediv1">
            <h1 id="welcometext">BOOK YOUR STAY WITH US!</h1>
            <h3 id="welcomesubtext">CLICK THE AVAILABLE DATES!</h3>
        </div>
        <div id="welcomediv2">
            <img id="blkbiglogo" src="~/img/logo/blklogo.png" alt="casadespa">
        </div>
    </div>
</section>

<!-- End Welcome Section -->
<!--Booking Section-->

<section id="booking">
    <div id="bookform" class="bookcontainer">
        <h1>BOOK NOW!</h1>

        <form asp-action="EditBooking" asp-controller="Admin" method="post">


            <div id="booktablediv">
                <table id="bookingtable">
                    <tr id="bookrow">
                        <td id="booklabeltd"><label for="fullName">Full Name:</label></td>
                        <td><input asp-for="fullName" id="inputtextfieldbr" type="text" id="fullName" name="fullName" value="@Model.fullName"><br></td>

                    </tr>
                    <tr id="bookrow">
                        <td id="booklabeltd"><label for="contactNumber">Contact Number:</label></td>
                        <td><input asp-for="contactNumber" id="inputtextfieldbr" type="tel" id="contactNumber" name="contactNumber" value="@Model.contactNumber"></td>

                    </tr>
                    <tr id="bookrow">
                        <td id="booklabeltd"><label for="messengerLink">Messenger Link:</label></td>
                        <td><input asp-for="messengerLink" type="text" id="inputtextfieldbr" id="messengerLink" name="messengerLink" placeholder="Include 'http://', 'https://', 'ftp://'." value="@Model.messengerLink"><br></td>

                    <tr id="bookrow">
                        <td id="booklabeltd"><label for="package" style="margin-top:auto;margin-bottom:auto;">Package:</label></td>
                        <td>
                            <div class="packagecontainer">
                                <select id="packages" asp-for="package" asp-items="@Html.GetEnumSelectList(typeof(Package))" class="form-control" value="@Model.package"></select>

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td id="regtd"><h4 id="gender">ACCOMODATION:</h4></td>
                        <td id="regtdinput">
                            <input asp-for="accomodation" type="radio" id="male" name="accomodation" value="REGULAR">
                            <label for="regular"><h6>REGULAR <br />(Pax Range: 1-20)</h6></label><br />
                            <input asp-for="accomodation" type="radio" id="female" name="accomodation" value="PARTY">
                            <label for="party"><h6>PARTY <br />(Pax Range: 21-50)</h6></label>
                        </td>
                    </tr>

                    <tr id="bookrow">
                        <td id="booklabeltd"><label for="numberOfPax">Number of PAX:</label></td>
                        <td><input type="number" id="numberOfPax" class="inputtextfieldbr" asp-for="pax" placeholder="Number of people attending" value="@Model.pax"><br></td>
                    </tr>


                    <tr id="bookrow">
                        <td id="booklabeltd"><label for="numberOfPax">Date to Book:</label></td>
                        <td><input asp-for="date" type="text" id="selectedDate" readonly placeholder="Click a day on the calendar" value="@Model.date"></td>
                    </tr>

                </table>
            </div>

            <div id="btndivtt">
                <input type="submit" value="Save" id="BookButton">
            </div>
        </form>
    </div>

    <div class="bookcontainer">
        <h1>AVAILABLE DATES</h1>

        <div id="calendar">
        </div>
        <div id="legendcontainer">
            <div id="legends">
                <h2>22 HOURS BOOKED</h2>
                <h2>DAY TOUR BOOKED</h2>

                <h2>NIGHT TOUR BOOKED</h2>
            </div>

        </div>
        
    </div>
</section>

<!-- Your FullCalendar initialization script -->
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev',
                center: 'title',
                right: 'next'
            },
            dayNamesShort: ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],
            eventAfterAllRender: function (view) {
                // Apply styles after the calendar has rendered
                $('.fc-day-header').css('font-size', '24px');
                $('.fc-day').css('font-size', '24px');
                $('.fc-day-number').css({
                    'font-size': '24px',
                    'text-align': 'center',
                    'float': 'none',
                });
                //$('.fc-day-top, .fc-day-content, .fc-day-bg, .fc-event, .fc-highlight').css('display', 'none');
                $('.fc-today').css({
                    'border': 'none',
                    'color': 'inherit'
                });
            },
            dayClick: function (date, jsEvent, view) {
                // Remove previously clicked day's indicator
                $('.fc-day').removeClass('clicked-day');

                // Get the clicked date and set it to the input field
                var clickedDate = date.format();
                $('#selectedDate').val(clickedDate);

                // Add indicator to the clicked day
                $(jsEvent.target).closest('.fc-day').addClass('clicked-day');
            },
            // Your other calendar options and events will go here
        });
    });

</script>
